<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>SISTEMA EVERIS Customer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
	<h1 class="text-center">¡Bienvenido!</h1>
	<div class="text-white bg-dark">
		<ul class="nav nav-tabs justify-content-center p-3">
			<li class="nav-item mr-3">
	    		<a class="nav-link text-white" href="home">Home</a>
	  		</li>
	  		<li class="nav-item mr-3">
	    		<a class="nav-link text-white" href="mostrarTodo">Muestra cliente</a>
	  		</li>
	  		<li class="nav-item">
	    		<a class="nav-link text-white" href="createCustomer">Crear cliente</a>
	  		</li>		
		</ul>	
	</div>
	<div class="card-body text-white bg-dark">
		<form th:action="@{./buscar}" th:object="${newCustomer}" method="POST">
			<div class="form-group mx-5">
	  			<label for="inpCustomerName">Name: </label>
	  			<input type="text" required="required" class="form-control col-4" id="inpCustomerName" name="name" placeholder="Nombre">
			</div>
			
			<button type="submit" name="btnSearchCustomer" class="btn btn-success mx-5">Buscar</button>
		</form>
	</div>


</body>
</html>